:root{
    font-size: 12px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #202837;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card{
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    padding: 10px;
    margin: 5%;
}

.card a{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.card .img-container{
    max-width: 70px;
}

.card .img-container img{
    width: 100%;
    border-radius: 100%;
}

.card .text{
    font-family: sans-serif;
    font-size: .75em;
    flex-grow: 1;
    margin: auto 10px;
}

.card .text h1{
    font-family: sans-serif;
    margin-bottom: .15em;
    color: #222;
}

.card .text h2{
    font-family: sans-serif;
    font-weight: 400;
    color: #777;
}


.card .status{
    width: 12px;
    height: 12px;
    background-color: rgb(36, 238, 127);
    border-radius: 100%;
    flex-shrink: 0;
}
